@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.App {
  text-align: center;
  height: 100vh;
  background-image: url('./assets/images/neon.jpg');
  background-size: cover;
  background-position: bottom;
  padding-top: 3em;
}
.body-title {
  color: #b8aec8;
  animation: blinker 2s linear infinite;
  margin-top: 0;
  font-size: 25px;
}
.body {
  -moz-box-shadow: 0 0 20px #ff00ff;
  -webkit-box-shadow: 0 0 20px #ff00ff;
  box-shadow: 0 0 20px #ff00ff;
  border-radius: 4px;
  width: 18em;
  margin: 2em auto 0 auto;
  padding: 3em 0;
}
.tfa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tfa-input {
  min-width: 12.5em;
  max-width: 12.5em;
  border: 1px solid #ff00ff;
  border-radius: 2px;
  background-color: black;
  padding: .5em .2em;
  margin-bottom: .5em;
  color: #b8aec8;
}
.tfa-input:focus {
  outline: none;
}
.tfa-button {
  min-width: 13em;
  max-width: 13em;
  padding: .5em;
  border: 1px solid #ff00ff;
  border-radius: 2px;
  background-color: black;
  color: #b8aec8;
  font-weight: bold;
}
.admit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accessGranted {
  display: none;
  flex-direction: column;
  margin-top: 5em;
  color: #ff00ff;
  font-weight: bold; 
}
.accessDenied {
  display: none;
  flex-direction: column;
  margin-top: 5em;
  color: #ff00ff;
  font-weight: bold; 
}
::placeholder { 
  color: #b8aec8;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #b8aec8;
}

::-ms-input-placeholder {
  color: #b8aec8;
}